#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 0;*/
}

ion-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 10; /* high enough to be on top */
}
ion-content, .ion-content {
  --padding-top: 0;
}
#pink-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(217, 25, 57, 0.3);
  pointer-events: none;
  /* z-index: 1000; /* high */
}