body {
    background: linear-gradient(0deg, rgba(248, 213, 230, 0.5), rgba(248, 213, 230, 0.5)), url('../../../assets/Shark\ Pattern\ BG.png');
    background-repeat: repeat;
    background-size: 300px;
}