.container {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

ion-card {
  padding: 10px;
  width: 300px;
  text-wrap: 0;
  background-color: #F8D5E6;
  border: 3px solid #C76B97;
  border-radius: 20px;
  box-shadow: 0px 4px 0px 0px #BD457F;
}

.card-container {
  width: 60%;
  animation: slideInFromBottom 0.5s ease-out forwards;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.button-container {
  display: flex;
  justify-content: right;
  align-items: right;
}

ion-button {
  border-radius: 50%;
  font-size: 15px;
  padding: 0 10px 0 0;
  margin-bottom: 10px;
}

.close-button {
  --background: #989898;
  --box-shadow: 0px 4px 0px 0px #767676;
}

ion-card-title {
  text-transform: none;
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 5px;
}


.input-container {
  padding-left: 10px;
  padding-bottom: 2px;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #878787;
  background: white;
}

ion-input.input-field {
  --highlight-color: #BD457F;
}

ion-textarea.input-field {
  height: 100px;
  --highlight-color: #BD457F;
}

ion-select {
  --placeholder-color: #878787;
  --placeholder-opacity: 1;
}

ion-select.ion-valid {
  --highlight-color: #BD457F;
}

ion-select::part(icon) {
  position: absolute;
  right: 5%;
}