
  <div class="card-container slide-in">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sign Up or Log In</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content> hi
      <ion-card-header class="card-header-with-close">
    <ion-card-subtitle>Sign Up or Log In</ion-card-subtitle>
    <ion-button 
      fill="clear" 
      size="small" 
      color="medium" 
      class="close-button" 
      (click)="onCloseClick()">
    </ion-button>
  </ion-card-header>
      
    </ion-card-content>

  </ion-card>
  </div>