ion-card {
    display: grid;
    justify-content: left;
    padding: 20px;
    text-wrap: pretty;
    border-radius: 20px; 
    border: 1px solid #F8D5E6;
    background-color: #FFF;

    /* Pink drop shadow blur */
    box-shadow: 0px 4px 4px 0px #BD457F;
}
