<div id="container">
  <div id="title-container">
    <div id="title-overlay">
      Shark Spotter
      <span>Shark Spotter</span>
    </div>
  </div>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sign Up or Log In</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="input-container">
        <ion-input class="input-field" 
          #ionInputEl
          label="Username" 
          labelPlacement="floating"
          [value]="inputModel"
          (ionInput)="onInput($event)"
          [(ngModel)]="username"
          placeholder="Enter username">
        </ion-input>
      </div>
    </ion-card-content>
    <ion-card-content>
      <div class="input-container">
        <ion-input class="input-field"
          label="Password"
          labelPlacement="floating" 
          type="password"
          [(ngModel)]="password"
          placeholder="Enter password">
        </ion-input>
      </div>
      
    </ion-card-content>

    <ion-button
      shape="round"
      (click)="goToHomePage()">
      Continue
    </ion-button>
    <div *ngIf="errorMsg" style="color: red; margin-top: 10px;">
      {{ errorMsg }}
    </div>
  </ion-card>
</div>