ion-header {
    background-color: #F8D5E6;
    border-bottom: 4px solid #C76B97;
    box-shadow: none;
}

ion-title {
    margin: auto;
    text-align: center;
    padding: 100px 0 5px;
    font-weight: 600;
    font-size: 32px;
    color: #532C3E;
}